<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" >
        <link href="/stylesheets/styles.css" rel="stylesheet">
        <script src="/js/scripts.js"></script>
    </head>
    
    <body>
        <div class="ui grid center aligned">
            <form class="ui form six wide column">
                <h1 class="white-text">Contact me!</h1>
                <div class="field">
                    <input type="text" name="name" placeholder="Full Name">
                </div>
                <div class="field">
                    <input type="text" name="email" placeholder="Email Address">
                </div>
                <div class="field">
                    <textarea type="text" name="email" placeholder="Message"></textarea>
                </div>
                <button class="ui button right floated" type="submit">Submit</button>
            </form>
        </div>
        <hr id="break">
        <div class="ui two item secondary menu">
          <a class="link item" href="/">Home</a>
          <a class="link item" href="/portfolio">Portfolio</a>
        </div>
    </body>
    
</html>