<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" >
        <link href="/stylesheets/styles.css" rel="stylesheet">
        <script src="/js/scripts.js"></script>
    </head>
    
    <body>
        <div class="ui grid center aligned">
            <div id="main-div" class="ui massive header centered eight wide column">
                <h1 id="massive-header">Collin DeSoto <i class="code icon"></i></h1>
                <p>Hello, my name is Collin! I am a California based
                    Web-Developer. I have a tremendous passion for designing 
                    websites and building web-based applications
                    for clients all over the world!</p>
                <p>I have a diverse set of skills. These skills range from
                    website design, HTML + CSS + Javascript, and React to server-side
                    technologies such as Node.js and SQL/NoSQL databases!</p>
            </div>  
        </div>
        <div class="ui center aligned">
            <img id="headshot" class="ui centered medium image" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/14470553_1493072700708858_9168808582879278046_n.jpg?oh=61053e4f3b17cc6ed742b822275f80ca&oe=5A210153">
        </div>
        <hr id="break">
        <div class="ui two item secondary menu">
          <a class="link item" href="/portfolio">Portfolio</a>
          <a class="link item" href="/contact">Contact</a>
        </div>
    </body>
    
</html>