<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" >
        <link href="/stylesheets/styles.css" rel="stylesheet">
        <script src="/js/scripts.js"></script>
    </head>
    
    <body>
        <div class="ui grid center aligned">
            <div>
                <label class="link-label">Item 1</label>
                <img src="https://placehold.it/175"><a href="#"></a></img>
            </div>
            <div>
                <label class="link-label">Item 2</label>
                <img src="https://placehold.it/175"><a href="#"></a></img>
            </div>
            <div>
                <label class="link-label">Item 3</label>
                <img src="https://placehold.it/175"><a href="#"></a></img>
            </div>
        </div>
        <hr id="break">
        <div class="ui two item secondary menu">
          <a class="link item" href="/">Home</a>
          <a class="link item" href="/contact">Contact</a>
        </div>
    </body>
    
</html>